body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

nav a {
    margin-left: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.work-list .work-year {
    margin-bottom: 2rem;
}

.work-list h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.work-list h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}

.work-list ul {
    list-style: none;
    padding-left: 0;
}

.work-list li {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.work-list .date {
    color: #888;
    width: 70px;
    text-align: right;
    margin-right: 1.5rem;
    flex-shrink: 0;
}




li {
    margin-bottom: 0.5rem;
}

a {
    color: #0066cc;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.contact-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
